$primary-color: #d3e3c1;
$color-red: #b7444a;
$color-blue: #2760c7;
$color-green: #879b4d;
$color-yellow: #ad9055;
$background-color: #160e23;
$border-color: #463f4f;
$font-family: 'Montserrat', sans-serif;
